<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
      <div class="container">
        <a class="navbar-brand portfolio-name" href="/">My Portfolio</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container py-4">
    {{{body}}}
  </main>

 
  <footer class="bg-dark py-4">
    <div class="container text-center">
      <p class="text-white">&copy; 2024 My Portfolio. All rights reserved.</p>
      <p>
        <a href="https://github.com/yourprofile" target="_blank" class="text-white">
          <img src="https://img.icons8.com/material-outlined/24/ffffff/github.png" alt="GitHub" class="social-icon"> GitHub
        </a>
        <span class="text-white"> | </span> 
        <a href="https://linkedin.com/in/yourprofile" target="_blank" class="text-white">
          <img src="https://img.icons8.com/material-outlined/24/ffffff/linkedin.png" alt="LinkedIn" class="social-icon"> LinkedIn
        </a>
      </p>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
